.text-grey{
    color: grey;
}
.text-grey:hover{
    color: black;
}
img{
    height: 200px;
    width: 200px;
}
span{
    text-decoration: underline;
}
#scnd{
    margin-left: 5%;
}
#secondcol{
    margin-top: 10%;
}
