<div class="container">
    <form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Github user name"  name="username" id="">
    </div>
</form>
</div>



    <!-- <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <input type="text" class="form-control mr-10" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm">
                <button type="submit" class="btn btn-dark" (click)="search()">Search</button>
            </form>
        </div>
    </div>
</div> -->